body {
    margin: 0;
    padding: 0;
    background-image: url('Images/BackgroundImageHills.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15); /* Adjust opacity as needed */
    z-index: -1; /* Ensure it is behind all content */ 
}

header {
    padding: 10px;
}

main {
    font-family: Arial, sans-serif;
    margin: 20px;
}

footer {
    background-color: rgb(229, 96, 255);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

#logo {
    flex-grow: 1;
    width: 100%;
    height: auto;
    object-fit: contain;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    border: 3px solid rgb(73, 50, 30);
    border-radius: 50px;
    padding: 25px;
    background-color: white;
    color: black;

    background-image: url(Images/Parchment1.png);
    background-position: center;
    background-size: cover;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 8vw;
    height: auto;
}

.GuildIntro{
    width: auto;
}

.MainContainer{
    max-width: 1500px;
    margin: 0 auto;
}

.TheRequestContainer{
    display: flex;
    justify-content: space-between;
}

.TheLetter{
    background-image: url(Images/Letter.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 550px;
    min-height: 650px;
}

.scroll-text-box{
    position: absolute;
    top: 140px;
    left: 150px;
    right: 150px;
    bottom: 100px;
    overflow: hidden;
    text-align: left;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 14px;
    line-height: 1.3;
}
