.gridContainer {
    display: grid;
    grid-template: 150px 150px / 150px 150px;
    grid-auto-flow: column;
    grid-auto-columns: 150px;
    gap: 16px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: beige;
    border: solid 2px rgb(43, 9, 9);

    font-size: x-large;
}