* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html , body {
    background-color: rgb(55, 56, 56);
    margin: 0;
    padding: 0;
}

.gridContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;

    height: 100vh;

}

/*------------------------------------------------------------------------ SIDEBAR ---------------------------------------------------------------------------*/

.sideBar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    background-color: rgb(63, 163, 230);
    border: solid 2px rgb(43, 9, 9);
    color: aliceblue;

    grid-row: 1 / 5;
}

.sideBarIcons {
    display: flex;
    justify-content: center;
    gap: 1vh;
}

.sideBar div img {
    width: 15%;
    height: auto;
}







.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(43, 9, 9);

    font-size: x-large;

    grid-row: 1 / 3;
    grid-column: 2 / 4 ;
}

.articleBar {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(221, 228, 240);
    border: solid 2px rgb(43, 9, 9);

    font-size: x-large;

    grid-row: 3 / 5;
    grid-column: 2 / 2;
}


.rightBar {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:rgb(221, 228, 240);
    border: solid 2px rgb(43, 9, 9);

    font-size: x-large;

    grid-column: 3 / 4;
    grid-row: 3 / 5;
}
