* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html , body {
    background-color: rgb(55, 56, 56);
    margin: 0;
    padding: 0;
}

.gridContainer {
    display: grid;
    grid-template-rows: 0.5fr 0.7fr 5fr 1fr;
    grid-template-columns: 0.7fr 3fr 1fr;

}

/*------------------------------------------------------------------------ SIDEBAR ---------------------------------------------------------------------------*/

.sideBar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    background-color: rgb(63, 163, 230);
    color: aliceblue;

    grid-row: 1 / 5;
}

.sideBarIcons {
    display: flex;
    justify-content: center;
    gap: 4vh;
}

.sideBar div img {
    width: 36px;
    height: auto;
    filter: brightness(0) invert(1);
}

/*------------------------------------------------------------------------ SIDEBAR ---------------------------------------------------------------------------*/

/*------------------------------------------------------------------------ NAVBAR ---------------------------------------------------------------------------*/

.navBar {
    display: grid;
    grid-template-rows: auto auto;

    
    background-color: rgb(255, 255, 255);

    grid-row: 1 / 3;
    grid-column: 2 / 4 ;
    
    padding: 24px 0;
}

.topPart {
    display: grid;

    grid-template-columns: auto 1fr auto auto auto;

    align-items: center;
    
    column-gap: 20px;
    padding: 0 24px;
}

.topPart input {
    width:70%;
    height:40px;
    border:0;
    border-radius:999px;
    background:#dde4f0;
}

.topPart h3 { 
    margin:0;
    white-space:nowrap;
}

.topPart img { 
    width:70px;
    height:70px;
}

.topPart img:nth-of-type(2){ 
    width:35px;
    height:35px;
    border-radius:50%;
    object-fit:cover;
}

.topPart img:nth-of-type(1){ 
    width:35px;
    height:35px;
    border-radius:50%;
    object-fit:cover; 
}



.bottomPart {
    display: grid;

    align-items: center;

    grid-template-columns: auto 1fr auto;

    column-gap: 16px;
    padding: 0 24px 16px;
}

.bottomPart > div:first-child img {
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
}

.bottomPart p, .bottomPart h3 { 
    margin:0; 
}

.bottomPart > div:nth-child(3) {
    display: flex;
    gap: 28px;
    justify-content: flex-end;
}

.bottomPart div button {
    border:0;
    border-radius:100px;
    padding:12px 50px;
    background:#1b93d8; 
    color:#fff; 
    font-weight:600; 
    cursor:pointer;
}

/*------------------------------------------------------------------------ NAVBAR ---------------------------------------------------------------------------*/

/*------------------------------------------------------------------------ ARTICLEBAR ---------------------------------------------------------------------------*/

.articleBar {
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    
    background-color: rgb(221, 228, 240);


    grid-row: 3 / 5;
    grid-column: 2 / 2;
}

.articleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 2vh;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-left: 10px solid rgb(228, 178, 14);
    border-radius: 10px;

    padding: 15px;

    background-color: white;
    
}

.card p {
    color: rgba(0, 0, 0, 0.514);
}

.cardIcons {
    display: flex;
    justify-content: end;
    gap: 3vh;
}

.cardIcons img {
    width: 5%;
}

/*------------------------------------------------------------------------ ARTICLEBAR ---------------------------------------------------------------------------*/

/*------------------------------------------------------------------------ RIGHTBAR ---------------------------------------------------------------------------*/

.rightBar {
    display: flex;
    flex-direction: column;

    background-color:rgb(221, 228, 240);

    font-size: x-large;

    grid-column: 3 / 4;
    grid-row: 3 / 5;
}

.announcementsBar {
    display: flex;
    flex-direction: column;
}

.announcementsGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    margin: 2vh;
    padding: 2vh;

    border: 1px solid transparent;
    border-radius: 7px;

    font-size: small;

    background-color: white;
}

.announcementsGrid div {
    border-bottom: 2px solid gray;
}

.trendingGrid {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    background-color: rgb(255, 255, 255);
    padding: 1.5vh;
    margin: 2vh;

    border: 1px solid transparent;
    border-radius: 7px;

    gap: 2vh;
}

.trendingCell {
    display: flex;

    justify-content: flex-start;
    align-items: center;

    gap: 2vh;
}

.trendingCell div {
    display: flex;
    flex-direction: column;
}

.trendingCell div p {
    color: rgba(0, 0, 0, 0.658);
    font-size: small;
}

.trendingCell img {
    width: 30%;
    height: auto;
}

.trendingCell h5,
.trendingCell p {
    margin: 0;
}

/*------------------------------------------------------------------------ RIGHTBAR ---------------------------------------------------------------------------*/
