body {
    background-color: rgb(55, 56, 56);
}

.gridContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 4px;
    resize: both;
    overflow: auto;

    padding: 15px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: beige;
    border: solid 2px rgb(43, 9, 9);

    font-size: x-large;
}
