body {
    display: flex;
    background-color: rgb(177, 180, 184);
    
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------------------------------------------------------------------------- */

.ContainerLeft {
    background-color: rgb(170, 247, 247);
    width: 70vh;
    height: 98vh;

    background-image: url(Images/Wood1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ImageContainer {
    width: 100%;
    height: auto;
}

.ImageContainer img {
    display: block;
    width: 100%;
    height: auto;
}

.TextContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(109, 109, 109);

    color: white;

    margin-top: 200px;
}

/* ----------------------------------------------------------------------------------------- */


.ContainerRight {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.TopContainer {
    margin-top: 120px;
    padding: 15px;
    padding-left: 50px;

    width: 70%;

}

.MidContainer {
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
    display: flex;
    flex-direction: column;


    height: 20vw;
}

.MidContainer form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 20vw;
}

.MidContainer form fieldset {
    border: 2px solid transparent;
}


.BottomContainer {
    margin-top: 50px;
    padding-left: 50px;
}

.BottomContainer button {
    color: aliceblue;
    background-color: rgb(65, 77, 47);

    border-radius: 5px;

    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.BottomContainer a {
    color: rgb(65, 77, 47);
    text-decoration: none;
}

input {
    border: 2px solid transparent;
}

input:valid {
    border-color: greenyellow;
}

input:invalid {
    border-color: red;
}